<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.css">
    <link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"  media="screen">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-right navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#">RumaHouse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Rumah</a>
                <a class="dropdown-item" href="#">Apartement</a>
                </div>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-left: 300px">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- TITLE -->
    <div style="text-align: center; margin-top: 75px">
        <h3 style="font-weight: bold">YOUR CART</h3>
    </div>

    <!-- LIST -->
    <div class="container" style="margin-top: 80px">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    
                    <!-- Produck Cart -->
                    <div class="col-md-8">
                        <!-- Baris Satu -->
                        <div class="tab-content" id="nav-tabContent" style="margin-top: 10px">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <img class="card-img-top" src="img/3d-rendering-apartments-apartment-power.jpg" alt="Card image cap">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3><b>Apartemen Rasuna Said</b></h3>
                                    <p><b>Kamar No. : 15-D</b></p>
                                    <p>Jalan Rasuna Said | Jakarta</p>
                                    <h2><b>IDR 300.000.000</b></h2><br><br>
                                    <button class="btn btn-primary">REMOVE</button>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- Baris Dua -->
                        <div class="tab-content" id="nav-tabContent" style="margin-top: 10px">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <img class="card-img-top" src="img/3d-rendering-apartments-apartment-power.jpg" alt="Card image cap">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3><b>Apartemen Rasuna Said</b></h3>
                                    <p><b>Kamar No. : 15-D</b></p>
                                    <p>Jalan Rasuna Said | Jakarta</p>
                                    <h2><b>IDR 300.000.000</b></h2><br><br>
                                    <button class="btn btn-primary">REMOVE</button>
                                </div>
                                </div>
                            </div>
                        </div>

                        <!-- Baris Tiga -->
                        <div class="tab-content" id="nav-tabContent" style="margin-top: 10px">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <img class="card-img-top" src="img/3d-rendering-apartments-apartment-power.jpg" alt="Card image cap">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3><b>Apartemen Rasuna Said</b></h3>
                                    <p><b>Kamar No. : 15-D</b></p>
                                    <p>Jalan Rasuna Said | Jakarta</p>
                                    <h2><b>IDR 300.000.000</b></h2><br><br>
                                    <button class="btn btn-primary">REMOVE</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Payment -->
                    <div class="col-md-4" style="margin-top: 10px">
                        <fieldset class="form-group">
                            <legend>Payment Method</legend>
                            <div class="form-check">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Mandiri - 13100007898283
                                </label>
                            </div>
                            <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                BCA - 6538929209
                                </label>
                            </div>
                            <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                BRI - 8773084087208
                                </label>
                            </div>
                        </fieldset>
                        <button class="btn btn-success">CHECKOUT</button>
                    </div>     
                </div>
            </div>
        </div>
    </div>     

</div>

    
    <!-- FOOTER -->
    <footer>
        <div class="container-fluid; section footer-classic context-dark bg-image" style="margin-top: 200px; background: #E95420">
            <div class="row" style="margin-left: 200px">
                <div class="col-md-4" style="margin-top: 50px">
                    <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                    Rights
                    <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
                </div>
                <div class="col-md-4" style="margin-top: 30px">
                    <h5>Contacts</h5>
                    <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>798 South Park Avenue, Jaipur, Raj</dd>
                    </dl>
                    <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                    <dt>phones:</dt>
                    <dd><a href="tel:#">+91 7568543012</a> <span>or</span> <a href="tel:#">+91 9571195353</a>
                    </dd>
                    </dl>
                </div>
                <div class="col-md-4" style="margin-top: 30px">
                    <h5>Links</h5>
                    <ul class="nav-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
            </div>
            <div class="row no-gutters social-container" style="margin-top: 30px">
                <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
                <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
                <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
                <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
            </div>
        </div>
    </footer>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>